version: '3.8'
services:
  postgres:
    image: postgres:18-alpine
    container_name: labormanagement
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: lbe
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - postgres_network
    restart: unless-stopped

volumes:
  postgres_data:

networks:
  postgres_network:
    driver: bridge